span.bg-primary.text-white.px-3.p-1.rounded-pill {
    border-radius: 15px !important;
}

#chat-window {
    height: auto;
    max-height: 1200px;
    width: auto;
    overflow-y: scroll;
    margin-bottom: 3%;
}

#chat-window.card-body {
    max-height: 1200px; /* You can adjust this value */
    overflow-y: auto;
}



#chat-input {
    margin-right: 5px;


}

div.card-footer {
    bottom: 5px;
    position: fixed;
    width: 100%;
}

.skeleton-loader {
    display: inline-block;
    width: 200px;
    height: 20px;
    border-radius: 4px;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
}

@keyframes loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

#character-container {
    display: flex;
    overflow-x: scroll;
    /* ...other styles to suit your design... */
}

.character-card {
    flex: 0 0 auto;
    margin-right: 16px;
    /* ...other styles to suit your design... */
}

 body {
     background: #000; /* Set a dark background */
 }

.navbar {
    background: #000;
    border-bottom: 2px solid #00f3ff;
}

.navbar-brand, .nav-link {
    color: #00f3ff !important; /* Neon blue */
    font-family: 'Press Start 2P', cursive; /* Arcade-like font */
}

.navbar-brand:hover, .nav-link:hover {
    color: #00ffff !important; /* Brighter blue when hovered */
}

.card {
    background: #000;
    color: #fff;
    /*border: 2px solid #00f3ff;*/
    /*box-shadow: 0 0 10px #00f3ff, 0 0 20px #00f3ff;*/
}

.card-title {
    color: #00f3ff;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 0 0 10px #00f3ff, 0 0 20px #00f3ff, 0 0 30px #00f3ff, 0 0 40px #00f3ff;
    animation: glow 2s ease-in-out infinite alternate;
}

.btn-primary {
    background: #000;
    border: 2px solid #00f3ff;
    color: #00f3ff;
    text-shadow: 0 0 10px #00f3ff, 0 0 20px #00f3ff;
}

.btn-primary:hover {
    background: #00f3ff;
    color: #000;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #00f3ff, 0 0 20px #00f3ff, 0 0 30px #00f3ff, 0 0 40px #00f3ff;
    }
    to {
        text-shadow: 0 0 20px #00f3ff, 0 0 30px #00f3ff, 0 0 40px #00f3ff, 0 0 50px #00f3ff;
    }
}

span.bg-light.px-1.p-1.rounded-pill {
    color: black;
}
