{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        <h1 style="color:white">NPCs</h1>
        <div class="row">
            {% for npc in npc_files %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{{ url_for('static', filename=npc.image) }}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">{{ npc.name }}</h5>
                            <p class="card-text">{{ npc.description }}</p>

                            <a href="{{ url_for('char_select', npc_name=npc.name) }}" class="btn btn-primary" style="align-content: center; margin-left: 20px;">Chat</a>
                            <a href="{{ url_for('api_docs') }}" class="btn btn-primary" style="float: right; margin-right: 20px;">APIs</a>

                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-md-4">
                <div class="card mb-4">
                    {#                        large image of plus sign that links to persona_form.html#}

                    <img src="https://media.istockphoto.com/id/688550958/vector/black-plus-sign-positive-symbol.jpg?s=612x612&w=0&k=20&c=0tymWBTSEqsnYYXWeWmJPxMotTGUwaGMGs6BMJvr7X4="  class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Create</h5>
                        <p class="card-text">Create your own NPC. It could be a financial analysts or stock picker. You just have to create it!</p>
{#                        <form method="POST" action="{{ url_for('pgen.persona_form') }}">#}
{#                            {{ persona_gen.hidden_tag() }}#}
{#                            {{ persona_gen.input_variables.label }} {{ persona_gen.input_variables() }}#}
{#                            {{ persona_gen.template.label }} {{ persona_gen.template() }}#}
{#                            {{ persona_gen.submit() }}#}
{#                        </form>#}
{#                        large image of plus sign that links to persona_form.html#}
                        <a href="{{ url_for('add_persona') }}" class="btn btn-primary" style="float: right; margin-right: 20px;">CREATE</a>


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
